@font-face {
  font-family: "Brandon Text";
  src: url('BrandonText-Light.otf');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Brandon Text";
  src: url('BrandonText-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brandon Text";
  src: url('BrandonText-Bold.otf');
  font-weight: bold;
  font-style: normal;
}