.form {
  &__field {
    margin-bottom: $margin-lg;
  }

  &__input {
    height: 50px;
    width: 100%;
    padding: 12px;

    background: $background-color;
    
    border-radius: $border-radius-sm;
    border: 0.125rem solid #d1d3d4;
    outline: 0;

    transition: $border-transition;

    &:focus {
      border: 0.125rem solid $light-orange;
    }
  }

  &__label {
    display: inline-block;
    margin-bottom: 5px;
  }

  &__checkbox {
  }

  &__checkbox-label {
  }
}
